{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/admin_setting_tabs


    Example context (json):
    {
        "tabs": [
         {
            "name": "tab1",
            "active": 0,
            "displayname": "Inactive tab1",
            "html": "<p>Tab 1 content</p>"
         },
         {
            "name": "tab2",
            "active": 1,
            "displayname": "Active tab2",
            "html": "<p>Tab 2 content</p>"
         }
        ]
    }
}}

<main>
   {{#user_stats}}
 <!--*******dashboard starts here *******-->
        <div class="container-fluid sectionHeading mydashboardbkp">

         <!-- ======Profile details Section starts here====== -->
          <div class="row profilePointZoneWrapper">
            <div class="col-lg-12">
                <div class="shadow-lg profile_cont bg-white">
                  <div class="card profiledetails ">
                    <div class="text-center mx-auto profiledetails__bg">
                      <div class="profiledata">
                        <img src="{{profileimage}}" class="wh-100 rounded-circle card-img-top" alt="User">
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">{{fullname}}</h4>
                        <h6 class="card-title">{{designation}}</h6>
                        <div class="emailid">{{email}}</div>
                      </div>
                    </div>
                    <div class="card-innercont">
                      <div class="row">
                          <div class="col-lg-6">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex align-items-center justify-content-between ps-2 ps-2">
                                <div class="w201 d-flex align-items-center align-items-center">
                                <i class="fa fa-building pe-2 themeColor"></i>
                                <span data-toggle="tooltip" data-placement="top" title="Department" class="d-block">
                                Dept 
                              </span>
                              </div>
                              <div><b>{{department}}</b></div>
                              </li>
                              <li class="list-group-item d-flex align-items-center justify-content-between ps-2">
                              <div class="w201 d-flex align-items-center align-items-center">
                              <i class="fa fa-id-card pe-2 themeColor"></i>
                              <span data-toggle="tooltip" data-placement="top" title="Employ Id" class="d-block">
                              Employ Id</span>
                              </div>
                              <div><b>{{empcode}}</b></div>
                              </li>
                              <li class="list-group-item d-flex align-items-center justify-content-between ps-2">
                              <div class="w201 d-flex align-items-center align-items-center">
                              <i class="fa fa-envelope pe-2 themeColor"></i>
                              <span data-toggle="tooltip" data-placement="top" title="Email Id" class="d-block">
                              Email Id</span>
                              </div>
                              <div><b>{{email}}</b></div>
                              </li> 
                              <li class="list-group-item d-flex align-items-center justify-content-between ps-2">
                              <div class="w201 d-flex align-items-center align-items-center">
                              <i class="fa fa-phone pe-2 themeColor"></i>
                              <span data-toggle="tooltip" data-placement="top" title="Contact" class="d-block">
                              Contact</span>
                              </div>
                              <div><b>{{phone}}</b></div>
                              </li>
                            </ul>
                            
                          </div>
                          <div class="col-lg-6">
                            <div class="level-card">
                              <!--<h3 class="card-title">Level</h3>-->
                              <div class="d-flex align-items-center justify-content-between pe-3">
                              <div class="rank py-2"><i class="fa fa-envelope pe-2 themeColor"></i> Total Points</div>
                              <div class="rank"><b>{{total_points}}</b></div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between pe-3">
                              <div class="rank py-2"> <i class="fa fa-envelope pe-2 themeColor"></i>Current Rank</div>
                              <div class="rank"><b>{{my_rank}}</b></div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between pe-3">
                              <div class="rank py-2"><i class="fa fa-envelope pe-2 themeColor"></i> Next Level</div>
                              <div class="rank"><b>{{nextlevel}}</b></div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between pe-3">
                              <div class="rank py-2"><i class="fa fa-envelope pe-2 themeColor"></i> Points to Next Level</div>
                              <div class="rank"><b>{{points_needed}}</b></div>
                              </div> 
                              <div class="d-flex align-items-center justify-content-between pe-3">
                              <div class="rank py-2"><i class="fa fa-envelope pe-2 themeColor"></i> Course Average % for Next Level</div>
                              <div class="rank"><b>{{grade_needed}}</b></div>
                              </div> 
                              <!-- <div class="mt-5">
                              <div class="d-flex align-items-center justify-content-between pe-3">
                              <div class="nextLevel"><i class="fa fa-envelope pe-2 themeColor"></i> Next Level</div>
                              <div class="nextLevel"><b>74%</b></div>
                              </div>
                              <div class="progress me-3">
                              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 74%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              </div>-->
                            </div>
                            
                          </div>
                      </div>
                    </div>
                  </div>
                </div>            
            </div>
          </div>
          <!-- ======Profile details Section end here====== -->

          <!-- ======My Points Section starts here====== -->
          <div class="row profilePointZoneWrapper">
            <div class="col-lg-12">
                 <div class="borderBottom profile_cont shadow-lg ">
                  <div class="card myPoints">
                    <div class="text-center mx-auto px-3 mb-3 mypoints__bg">
                      <div class=" trophydata text-center">
                        <img src="images/coins1.png" class="card-img-top rounded-circle wh-100 rounded-circle" alt="User">
                      </div>
                      <div class="card-body text-center">
                      <h4 class="card-title">My Points</h4> 
                      <h4 class="card-title available-points">{{available_points}}</h4>
                      
                      </div>
                    </div>
                    <div class="card-innercont">
                      <div class="row">
                        <div class="col-lg-6">
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item d-flex align-items-center justify-content-between ps-2 pt-0">
                                <div><i class="fa fa-sign-in pe-2 themeColor"></i> <span>Login Points </span></div>
                                <div><b>{{login_points}}</b></div>
                              </li>
                              <li class="list-group-item d-flex align-items-center justify-content-between ps-2">
                                <div><i class="fa fa-question pe-2 themeColor"></i><span>Daily Quiz Points</span></div>
                                <div><b>{{quiz_points}}</b></div>
                              </li>
                              <li class="list-group-item d-flex align-items-center justify-content-between ps-2">
                                <div><i class="fa fa-spinner pe-2 themeColor"></i><span>Spin Wheel Points</span></div>
                                <div><b>{{spinwheel_points}}</b></div>
                              </li>
                              <li class="list-group-item d-flex align-items-center justify-content-between ps-2">
                                <div><i class="fa fa-trophy pe-2 themeColor"></i><span>Reward Received<span></div>
                                <div><b>{{rewards_received_points}}</b></div>
                              </li>
                            </ul>
                            
                        </div>
                        <div class="col-lg-6">
                          <div class="graph ">
                            <!--<h4 class="card-title">My Points</h4>--> 
                            <!--<div class="line-chart-filled"><div id="chart_mypoints"></div></div>-->

 <div class="line-chart-filled"><div id="Bargraph" style="width: 98%; height: 250px"></div></div>

                          </div>
                        </div>

                        <div class="col-lg-12">
                          <div style="text-align:center;" class="btngroup"> <a style="max-width:250px;" href="mypoint.php" class="btn btn-primary" style="float:right;">Points Log</a></div>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                </div>     
            </div>
          </div>
          <!-- ======My Points Section end here====== -->

          <!-- ======Quiz Section starts here====== -->
          <div class="row profilePointZoneWrapper">
            <div class="col-lg-12">
               <div class="bg-white shadow-lg block-m-b">
                 <div class="row">
                  <div class="col-lg-6">
                    <div class="card quiz quiz-card card-block text-center">
                    <div class="d-flex align-items-center px-3 mb-3">
                      <div class="quizdata text-center mx-auto">
                        <img src="images/Quiz.jpg" class="rounded-circle card-img-top" alt="User">
                      </div>
                    </div>
                    <h4 class="card-title">Daily Quiz</h4>
                    <div class="d-grid gap-2 col-6 mx-auto mt-2">
                      <a style="border: 1px solid #fff;" href="{{dailyquiz_url}}" class="btn btn-primary px-4" type="button">Attempt Now</a>
                    </div>
                  </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="graph card-block_text">
                        <h3 class="card-title textShadow">Points Graph</h3>
                        <div class="line-chart-filled">
                         <!-- <div id="chart_quiz"></div>-->
  <div id="Linegraph" style="width: 98%; height: 250px">
    </div>
                        </div>
                    </div>  
                  </div>
                </div>
               </div>
                
            </div>
          </div>
          <!-- ======Quiz Section end here====== -->

          <!-- ======Daily Login Section starts here====== -->
          <div class="row profilePointZoneWrapper">
            <div class="col-lg-12">

               <div class="bg-white shadow-lg block-m-b">
                 <div class="row">
                  <div class="col-lg-6">
                   <div class="dl-points-graph card-block_text">
                      <div class="graph">
                        <h3 class="card-title textShadow">Points Graph</h3>
                        <div class="line-chart-filled">
 <div id="Logingraph" style="width: 98%; height: 250px">
    </div>
<!--<div id="chart_login"></div> -->
</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class=" daily-login-card ">
                      <div class="card myPoints">
                        <div class="text-center mx-auto">
                          <div class="trophydata text-center loginData">
                            <img src="images/dailypoint.png" class="card-img-top rounded-circle" alt="User">
                          </div>
                          <h3 class="card-title">Daily Login</h3>
                          <div class="card-body">
                            <h2 class="card-title">{{login_points}}</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
               </div>
                
            </div>
          </div>
          <!-- ======Daily Login Section end here====== -->

        <!-- ======Daily Login Section starts here====== -->
          <div class="row profilePointZoneWrapper block-m-b">
            <div class="col-lg-12 cardBlock__section">
              <div class="dieBlock3__block">
                <div class="dieBlock3__block__list">
                <div class="cart__cont">
                    <div class="card-block-md">
                    <div class="card__item">
                        <div class="card__item--image" id="mainbox">
                        <canvas id="canvas" width="180" height="180" >
                            <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                        </canvas> 
                        </div>
                        <h4 class="card-title">Spin Wheel</h4>
                        <div class="card__item--text" >Spin the wheel and luck your chance to get points benefit and redeem</div>
                        <div class="btngroup card__item--btn">
                        <button class="btn btn-primary btn-block" type="button">{{{spinbutton}}}</button>
                        </div>                    
                    </div>
                    </div>
                </div>
                </div>
                <div class="dieBlock3__block__list">
                    <div class=" cart__cont">
                      <div class="card-block-md">
                          <div class="card__item">
                              <div class="line-chart-filled pollimg card__item--image">
                              <img src="images/poll.png" alt="img" />
                              </div>
                              <h4 class="card-title">Poll</h4>
                              <div class="btngroup card__item--btn">
                                  <a href="{{pollurl}}"><button class="btn btn-primary btn-block my-3 px-4" type="button">Take Poll</button></a>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="dieBlock3__block__list">
                    <div class="cart__cont">
                      <div class="card-block-md">
                          <div class="quizdata1 card__item--image">
                              <img src="sunil/images/redeemption.png" class="card-img-top img-fluid" alt="User">
                          </div>
                          <h4 class="card-title">Redeemption Zone</h4>
                          <div class="btngroup card__item--btn">
                          <a class="btn btn-primary btn-block" id="redeem-point" data-toggle="modal" data-target="#redeemModal">
                                      Point Redeem 
                                  </a>
                          <a class="btn btn-primary btn-block" id="gift-reward" data-toggle="modal" data-target="#exampleModal">
                                      Gift rewards 
                                  </a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>                
            </div>
          </div>
          <!-- ======Daily Login Section end here====== -->



          <div class="row profilePointZoneWrapper px-lg-3">
           
            <!--********Scratch Section starts here**********-->
              <div class="col-lg-12">
               <h3 class="textShadow bold mb-3 textShadow">Scratch Card</h3>
              <div class="shadow-lg scratch block-m-b card-block_text">
              <div class="card  pb-1">
                <label style="margin-left:10px;">Available scratch card : <strong>{{scratchcounter}}</strong></label>
                                
              </div>
                {{{scratchcards}}}
              </div>
              </div>
            <!--********Leader Board Section starts here**********-->
            <div class="col-lg-12">
             <h3 class="textShadow bold mb-3">Leader Board</h3>
              <div class="shadow-lg nohover tableCustom block-m-b">
                <table class="table ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Rank</th>
                      <th scope="col">Department</th>
                      <th scope="col">Points</th>
                      <th scope="col">Badges</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{{leaderboard}}}                           
                  </tbody>
                </table>
              </div>
            </div>
         </div>
       </div>       
       <!--*******dashboard ends here *******-->
<!--MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Gift your rewards to friends (Avl Pts: {{available_points}})</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchtext">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchuser">Search</button>
                    <div id="getmatch"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="sharepoints">Send</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!--MODAL redeem -->
    <div class="modal fade" id="redeemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Redemption Zone <!-- (Avl Pts: {{available_points}}) --></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div id="redeemable"></div>
                </div>
<!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="redeemnow">Redeem Now</button>
                </div> -->
            </div>
        </div>
    </div>

<!--MODAL REDEEM -->

<div class="modal fade" id="spindWheel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:300px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">You have won <strong id="spinpoint"></strong> point(s)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
                <div class="modal-body" id="popupimage">
                    
                    
                </div>
               
            </div>
        </div>
    </div>


    {{/user_stats}}
    </main>
