<div class="edg-filter-table d-flex align-items-center justify-content-between">
    <div class="d-flex">
        <input type="checkbox" id="edg-filter-questions"/>
        <label class="m-0" for="edg-filter-questions">
            <span class="edg-on">ON</span>
            <span class="edg-off">OFF</span>
        </label>
        <span class="edg-ga-filter-text font-weight-bold">
            {{#str}} quesgradedauto, block_edwiser_grader {{/str}}
        </span>
    </div>
    <div>
        <p class="d-inline-block"><strong><span class="edg-nr">NR</span></strong>
            {{#str}} needsregrading, block_edwiser_grader {{/str}}
        </p>
    </div>
</div>
<table class="generaltable" id="eg-qb-table">
    <thead>
        <tr>
            <th class="header dt-center">{{#str}} qno, block_edwiser_grader {{/str}}</th>
            <th class="header dt-center no-sort">{{#str}} qtype, block_edwiser_grader {{/str}}</th>
            <th class="header dt-center">{{#str}} qname, block_edwiser_grader {{/str}}</th>
            <th class="header dt-center">{{#str}} requiresgrading, block_edwiser_grader {{/str}}</th>
            <th class="header dt-center">{{#str}} alreadygraded, block_edwiser_grader {{/str}}</th>
            <th class="header dt-center">{{#str}} autograded, block_edwiser_grader {{/str}}</th>
            <th class="header dt-center">{{#str}} total, block_edwiser_grader {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>