

.icons-collapse-expand .collapsed-icon {
    display: none;
}

.icons-collapse-expand.collapsed .collapsed-icon {
    display: flex;
    align-items: center;
}

.icons-collapse-expand.collapsed .expanded-icon {
    display: none;
}

.icons-collapse-expand .expanded-icon {
    display: flex;
    align-items: center;
}




   