<div id="categoryfilter" class="coursearchive-filters row" >
    <div class="col-6 col-md-2 col-lg-4 mb-3">
        <div class="course-counter">
            <p class="mt-10">
                <span class=" pr-1 course-number">0 
                </span> <span class="course-text">{{#str}}strcourses, theme_remui{{/str}}</span>
            </p>
        </div>
    </div>
    <div class="col-12 col-md-5 col-lg-4 mb-3">
        <div class="singleselect d-inline-block w-100">
            <select class="custom-select categoryselector w-100" name="categoryid">
                <option value='all'>{{#str}} allcategories , theme_remui {{/str}}</option>
                {{#categories}}
                <option value="{{id}}" {{#active}}selected=""{{/active}}>{{{title}}}</option>
                {{/categories}}
            </select>
        </div>
    </div>
    <div class="col-12 col-md-5 col-lg-4 mb-3">
        {{{searchhtml}}}
    </div>
    <div class="col-sm-12 d-lg-none d-md-block">
        <div class="inner-container p-4 mb-4 col-lg-12 col-sm-12 showmycourses">
          <div class="d-flex justify-content-between align-items-center">
            <div class="custom-control custom-switch " >
              <input type="checkbox" class="custom-control-input" id="switch-label2">
              <label class="custom-control-label" for="switch-label2"></label>
            </div>
            <span class="switch-label">{{#str}}showenrolledcourses, theme_remui {{/str}}</span>
          </div>
        </div>
    </div>
</div>
